<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Debug" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variabeles
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!-- 
    add your targets here 
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${loannumber:${message}}; ${exception:format=tostring}" />

    <target name="email" xsi:type="Mail"
        smtpServer="outlook.office365.com"
        smtpPort="587"
        smtpAuthentication="Basic"
        smtpUserName="alerts@firsthome.com"
        smtpPassword="password"
        enableSsl="true"
        from="alerts@firsthome.com"
        to="cdesimone@firsthome.com"
        subject="NLog Notification from NGConnectBackend"
        layout="${longdate} ${level} ${message} ${exception:format=tostring} " />

    <target name="database"
        xsi:type="Database"
        connectionStringName="PrequalContext"
        commandText="exec dbo.[usp_Log_InsertLog]
							@mclrequesttypeid,
							@requestdatetime,
							@queueid,
							@requestfilename,
							@responsedatetime,
							@mclrequestlogid,
							@responsefilename,
							@statuscode,
							@statusnote,
							@vendororderidentifier">
      <parameter name="@mclrequesttypeid" layout="${mclrequesttypeid}" />
      <parameter name="@requestdatetime" layout="${requestdatetime}" />
      <parameter name="@queueid" layout="${queueid}" />
      <parameter name="@requestfilename" layout="${requestfilename}" />
      <parameter name="@responsedatetime" layout="${responsedatetime}" />
      <parameter name="@mclrequestlogid" layout="${mclrequestlogid}" />
      <parameter name="@responsefilename" layout="${responsefilename}" />
      <parameter name="@statuscode" layout="${statuscode}" />
      <parameter name="@statusnote" layout="${statusnote}" />
      <parameter name="@vendororderidentifier" layout="${vendororderidentifier}" />
    </target>

    <target xsi:type="File" name="rfile" fileName="${basedir}/logsR/${shortdate}.log"
            layout="${requestdatetime} ${queueid} ${requestfilename}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="f" />
    <logger name="*" minlevel="Trace" writeTo="email" />

    <!--<logger name="*" minlevel="Error" writeTo="email">
		  <filters>
			  <when condition="contains('${exception:format=tostring}','the loan officer is not licensed')" action="Ignore" />
			  <when condition="contains('${message}','the loan officer is not licensed')" action="Ignore" />
			  <when condition="contains('${exception:format=tostring}','Bad Request')" action="Ignore" />
			  <when condition="contains('${message}','Bad Request')" action="Ignore" />
		  </filters>
    </logger>-->
	  <!--<logger name="*" minlevel="Error" writeTo="database">
		  <filters>
			  <when condition="contains('${exception:format=tostring}','the loan officer is not licensed')" action="Log" />
			  <when condition="contains('${message}','the loan officer is not licensed')" action="Log" />
		  </filters>
    </logger>-->
	
  </rules>
</nlog>