<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net45" />
  <package id="DocuSign.eSign.dll" version="4.2.0" targetFramework="net46" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net46" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.4.0" targetFramework="net46" requireReinstallation="true" />
  <package id="Microsoft.IdentityModel.Logging" version="5.4.0" targetFramework="net46" requireReinstallation="true" />
  <package id="Microsoft.IdentityModel.Protocols" version="5.4.0" targetFramework="net46" requireReinstallation="true" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.4.0" targetFramework="net46" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net46" />
  <package id="RestSharp" version="106.3.1" targetFramework="net46" />
  <package id="RestSharpSigned" version="105.2.3" targetFramework="net45" requireReinstallation="True" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net46" requireReinstallation="true" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.4.0" targetFramework="net46" requireReinstallation="true" />
</packages>