<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DevConnectionString" connectionString="Data Source=topdog\topdogdev;Initial Catalog=VOESystemDev;Persist Security Info=True;User ID=developer;Password=j*h4FH962Gk!" providerName="System.Data.SqlClient" />
    <add name="ProdConnectionString" connectionString="Data Source=AZE-APP-SQL-1V;Initial Catalog=VOESystemDEV;Persist Security Info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="TestConnectionString" connectionString="Data Source=AZE-APP-SQL-1V;Initial Catalog=VOESystemDEV;Persist Security Info=True;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DocumentRepositoryProd" value="\\hqnas3\Apps\VOERepository\" />
    <add key="DocumentRepositoryTest" value="\\hqnas3\Apps\VOERepository\" />
    <add key="DocumentRepositoryDev" value="C:\Data\FirstMortgage\BitBucket\VOESystem\VOEFrontend\VOESystem\VOERepository\" />
    <!--<add key="DocumentRepositoryDev" value="E:\VOERepositoryNew\" />-->
    <!-- testing keys start -->
    <add key="AdvancedDataServiceTestMode" value="true" />
    <add key="EquifaxServiceTestMode" value="true" />
    <add key="TestPDFFilePath" value="C:\Data\FirstMortgage\BitBucket\VOESystem\VOEFrontend\VOESystem\VOERepository\EncDocuments\xcvxcvxcvxcv.pdf" />
    <add key="EquifaxTestResultMessage" value="Success" />
    <add key="TestCDataFilePath" value="C:\Data\FirstMortgage\BitBucket\voesystem\VOEFrontend\VOEBackend\testCData.txt" />
    <!--<add key="UnitTestBaseURL" value="http://localhost/voesystemnew/" />-->
    <!--<add key="UnitTestBaseURL" value="http://localhost:62266/" />-->
    <add key="UnitTestBaseURL" value="http://aze-app-1v/voesystemnew/" />
    <add key="UnitTestBasePath" value="C:\Data\FirstMortgage\BitBucket\voesystem\VOEFrontend\VOESystem\" />
    <!--<add key="UnitTestLoginURL" value="http://localhost:62266/login" />-->
    <add key="UnitTestLoginURL" value="http://aze-app-1v/voesystemnew/login" />
    <add key="UnitTestUserName" value="cdesimone" />
    <add key="UnitTestPassword" value="LemonLime52" />
    <add key="UnitTestUserFullName" value="Christine DeSimone" />
    <add key="UnitTestUserEmail" value="cdesimone@firsthome.com" />
    <add key="UnitTestUserRoles" value="Administrator" />
    <!-- this is only for service unit tests -->
    <add key="EncompassServer" value="https://be11124301.ea.elliemae.net$be11124301" />
    <add key="LoanFolders" value="Training,Active Loans,Prospects,Adverse Loans" />
    <add key="LogRESTAPITraffic" value="false" />
    <add key="DefaultLeadTimeDays" value="5" />
    <!-- testing keys end -->
    <!-- encompassrest keys start -->
    <add key="LogTrafficToLogFile" value="false" />
    <add key="WriteTrafficFiles" value="false" />
    <add key="LogTrafficToDB" value="false" />
    <add key="TrafficFilePath" value="C:\Temp\EncRESTFiles\" />
    <add key="LoanFolderImportLocation" value="\\hqnas3\apps\scan\inbox" />
    <add key="EncompassRESTTestMode" value="false" />
    <!-- encompassrest keys end -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="BitlyAPIToken" value="4d4176a665a3605b5a7e7a1e4844a64b63ed1972"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\MailOutbox" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.50.4845.0" newVersion="1.50.4845.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.8.1.0" newVersion="3.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.1.0" newVersion="1.8.1.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
			<assemblyIdentity name="ephtmltopdf" publicKeyToken="e0ae9f6e27a97018" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-12.2.0.0" newVersion="12.2.0.0" />
		</dependentAssembly>-->
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>